@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
    /* outline: 1px solid red; */
    box-sizing: border-box;
}

.montserrat-normal {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

  
  .no-scrollbar {
    /* For WebKit browsers */
    &::-webkit-scrollbar {
      display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
    }

    /* For Firefox */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
  }